table {
  margin: 50px 0;
}

.nav-pills li {
  padding: 0 50px;
}

.nav-pills a {
  border: 1px solid #666;
  font-size: 18px;
  background-color: lightblue;
  color: #000;
}

/*li {
  border: 1px solid #000;
  font-size: 18px;
}*/
